@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode (Default) */
  --color-primary: #0C2B4E;
  --color-secondary: #1A3D64;
  --color-bg: #F4F4F4;
  --color-text: #0C2B4E;
  --color-surface: #FFFFFF;
}

.dark {
  /* Dark Mode - Muted/Premium */
  --color-primary: #94a3b8;
  /* Slate 400 (Steel) */
  --color-secondary: #475569;
  /* Slate 600 (Dark Steel) */
  --color-bg: #020617;
  /* Slate 950 (Darker) */
  --color-text: #cbd5e1;
  /* Slate 300 (Muted Silver) */
  --color-surface: #0f172a;
  /* Slate 900 */
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-surface: var(--color-surface);

  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}